@{
    ViewBag.Title = "program";
    ViewBag.css = "index.css";
    ViewBag.js = "index_js.js";
}
<div class="top_cont">
    <div class="slides">
        <div class="slide showing">
            <img id="dd" width="100%" src="~/img/sl1.jpg" alt="slide1">
        </div>
        <div class="slide">
            <img id="dd" width="100%" src="~/img/sl2.jpg" alt="slide2">
        </div>
        <div class="slide">
            <img id="dd" width="100%" src="~/img/sl3.jpg" alt="slide3">
        </div>
    </div>
    <div class="cit">
        <blockquote>
            <p>Невозможно жить лучше, чем проводя жизнь в стремлении стать совершеннее.</p>
            <footer>— <cite>Сократ</cite></footer>
        </blockquote>
    </div>
</div>
<div class="text">Являясь всего лишь частью общей картины, независимые государства могут быть функционально разнесены на независимые элементы. Принимая во внимание показатели успешности, дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для своевременного выполнения сверхзадачи! В рамках спецификации современных стандартов, действия представителей оппозиции являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений.</div>
<div class="text">Являясь всего лишь частью общей картины, независимые государства могут быть функционально разнесены на независимые элементы. Принимая во внимание показатели успешности, дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для своевременного выполнения сверхзадачи! В рамках спецификации современных стандартов, действия представителей оппозиции являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений.</div>
<div class="text">Являясь всего лишь частью общей картины, независимые государства могут быть функционально разнесены на независимые элементы. Принимая во внимание показатели успешности, дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для своевременного выполнения сверхзадачи! В рамках спецификации современных стандартов, действия представителей оппозиции являются только методом политического участия и заблокированы в рамках своих собственных рациональных ограничений.</div>
